// MEDIA QUERIES
@desktop-max-width: 1900px; // anything higher the app wrapper wouldn't grow 
@tablet: 1024px;

// COLORS
@base-white: #FFFFFF;
@base-black: #2e2e2e;
@base-grey: #676a6c;
@base-light-grey: #f3f3f4;
@base-green: #139998;
@base-light-blue: #e7eaec;

@base-background: @base-light-grey;
@base-text: @base-grey;

@plus-btn: @base-green;

@item-background: @base-white;
@item-text: @base-text;
@item-borders: @base-light-blue;
@item-icons: @base-black;

